<% title = 'Users' %>
<!DOCTYPE html>
<html lang="en">
<h1 class="mb-3">Manage Users</h1>
<%- include('../partials/head') %>

<% if (successMessage) { %>
  <div id="alertSuccess" class="alert alert-success fade show" role="alert">
    <%= successMessage %>
  </div>
<% } else { %>
  <div id="alertSuccess" class="alert alert-success fade" role="alert" style="display:none"></div>
<% } %>

<% if (errorMessage) { %>
  <div id="alertError" class="alert alert-danger fade show" role="alert">
    <%= errorMessage %>
  </div>
<% } else { %>
  <div id="alertError" class="alert alert-danger fade" role="alert" style="display:none"></div>
<% } %>

<form method="POST" action="/admin/users/delete" id="deleteForm">
  <div class="d-flex gap-2 mt-3">
    <a href="/admin/users/add" class="btn btn-primary">Add New User</a>
    <button type="button" class="btn btn-danger" id="deleteBtn">Delete Selected Users</button>
  </div>
  
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th>
          <input type="checkbox" id="selectAll"> Select All
        </th>
        <th>Name</th>
        <th>Fire Zone Number</th>
        <th>Status</th>
        <th>Membership Classification</th>
        <th>Membership Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td>
            <input type="checkbox" name="selectedUsers" value="<%= user.number %>" class="userCheckbox">
          </td>
          <td class="name"><%= user.id %></td>
          <td class="fz-number"><%= user.number %></td>
          <td class="member-status"><%= user.member_status %></td>
          <td class="member-classification"><%= user.membership_classification %></td>
          <td class="member-type"><%= user.membership_type %></td>
          <td><button type ="button" id="editUser" name="edit" class="btn btn-dark"> Edit</button></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</form>
<%- include('../partials/footer') %>
<script src="/js/alerts.js" defer></script>
<script src="/js/delete-user.js" defer></script>
<script src="/js/admin-users.js" defer></script>
</html>